#!/usr/bin/env xdg-open

[Desktop Entry]
Encoding=UTF-8
Type=Application
X-Created-By=Deepin WINE Team
Categories=chat;
#Icon=com.qq.weixin.deepin
Icon=/opt/apps/com.qq.weixin.deepin/entries/icons/hicolor/48x48/apps/com.qq.weixin.deepin.png
Exec=env DEEPIN_WINE_SCALE=2 "/opt/apps/com.qq.weixin.deepin/files/run.sh" -f %f
Name=WeChat
Name[zh_CN]=微信
Comment=Tencent WeChat Client on Deepin Wine6
StartupWMClass=WeChat.exe
MimeType=
