[Desktop Entry]
Encoding=UTF-8
Type=Application
Terminal=false
Icon=google-translate
Exec=sh -c "firefox --new-window https://cn.bing.com/translator?ref=TThis&text=&from=en&to=zh-Hans"
Name=translate
Name[zh_CN]=translate
Comment=translate
Comment[zh_CN]=translate
Categories=Net;Network,Tool